---
---

@import "{{ site.theme }}";

footer {
	bottom: 20px;
}

header {
	top: 20px;
}

p {
	margin-bottom: 0.6em;
}

header blockquote {
	margin: 1.6em 0;
}

footer p {
	font-size: 80%;
	margin-bottom: 0.2em;
}

p.legal {
	font-size: 80%;
}

p.begin.legal {
	margin-top: 3.0em;
}
